{% extends "base.html" %}

{% block content %}

    <h1>Buggy</h1>

    <table class="buggy">
        <tr>
            <th>ID</th>
            <th>Wheels</th>
            <th>Power Type</th>
            <th>Power Units</th>
            <th>Aux Power Type</th>
            <th>Aux Power Units</th>
            <th>Hamster Booster</th>
            <th>Flag color</th>
            <th>Flag pattern</th>
            <th>Secondary flag color</th>
            <th>Tyres</th>
            <th>Tyre Qty</th>
            <th>Armour</th>
            <th>Attack</th>
            <th>Attack Qty</th>
{#            <th>Fire-proof</th>#}
{#            <th>Insulated</th>#}
{#            <th>Anti-biotic</th>#}
{#            <th>Banging</th>#}
{#            <th>Algo</th>#}
            <th>Total Cost</th>
            <th>User id</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {%  for i in range(0, number_of_buggies) %}
            <tr>
                <td> {{ buggy[i]['id'] }} </td>
                <td> {{ buggy[i]['qty_wheels'] }} </td>
                <td> {{ buggy[i]['power_type'] }} </td>
                <td> {{ buggy[i]['power_units'] }} </td>
                <td> {{ buggy[i]['aux_power_type'] }} </td>
                <td> {{ buggy[i]['aux_power_units'] }} </td>
                <td> {{ buggy[i]['hamster_booster'] }} </td>
                <td> {{ buggy[i]['flag_color'] }} </td>
                <td> {{ buggy[i]['flag_pattern'] }} </td>
                <td> {{ buggy[i]['flag_color_secondary'] }} </td>
                <td> {{ buggy[i]['tyres'] }} </td>
                <td> {{ buggy[i]['qty_tyres'] }} </td>
                <td> {{ buggy[i]['armour'] }} </td>
                <td> {{ buggy[i]['attack'] }} </td>
                <td> {{ buggy[i]['qty_attack'] }} </td>
{#                <td> {{ buggy[i]['fireproof'] }} </td>#}
{#                <td> {{ buggy[i]['insulated'] }} </td>#}
{#                <td> {{ buggy[i]['antibiotic'] }} </td>#}
{#                <td> {{ buggy[i]['banging'] }} </td>#}
{#                <td> {{ buggy[i]['algo'] }} </td>#}
                <td> {{ buggy[i]['total_cost'] }} </td>
                <td> {{ buggy[i]['user_id'] }} </td>
                <td> <a href="/edit/{{ buggy[i]['id'] }}" class="button">Edit</a> </td>
                <td> <a href="/delete/{{ buggy[i]['id'] }}" data-method="delete" class="button">Delete</a> </td>
            </tr>
        {% endfor %}
    </table>


  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
